@keyframes swr{
  0% {opacity:0;}
  15% {left:33%; opacity:1;}
  100% {left:75%; opacity:1;}
}
@keyframes swl{
  0% {opacity:0;}
  15% {left:45%; opacity:1;}
  100% {left:10%; opacity:1;}
}
@keyframes fade{
  0%{opacity:1;}
  100%{opacity:0;}
}

@keyframes ups{
   0%{
     transform:translateX(-540px);
     opacity:0;
   }
   15%,92%{
     transform:translateX(0);
     opacity:1;
   }
   100%{
     opacity:0;
   }
}
@keyframes downs{
  0%{
    transform:translateY(150px);
    opacity:0;
  }
  20%,96%{
    transform:translateY(0);
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@keyframes spin {
  0% { transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}
@keyframes grow{
  0% {height:0;}
  100% {height:initial;}
}
@keyframes show{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@keyframes exit{
  0%{
    transform:translateZ(0);
  }
  90%{
    transform:translateZ(0);
    opacity:1;
  }
  100%{
    transform:translateZ(-600px);
    opacity:0;
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}