*, *:after, *:before{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.contain{
  overflow:hidden;
}
video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
header{
  position:absolute;
  width:100%;
  top:0;
  left:0;
  z-index:998;
  padding:0;
  font-size:1.6em;
  color:#fff; 
  text-transform:uppercase;
}
header img{
  width:30px;
  margin-right:7.5px;
  position: relative;
  z-index:9999;
}
header span{
  padding:2.5px;
}
header a,
header .fa{
  cursor:pointer;
  color:inherit;
  display: flex;
  align-items: center;
}
a:hover,
a:focus{
  color:#f0f0f0;
  text-decoration:none;
}
.tp-menu{
  position:absolute;
  right:25px;
  padding:1.5px;
  top:25px;
  z-index:9999;
  cursor:pointer;
}
.in-place{
  position:absolute;
}
.item{
  position:relative;
}
.hold{
  position:absolute;
  left:25px;
  bottom:90px;
  z-index:99;
  width:100%;
  color:#fff;
}
.ups, .downs{
  display: block;
}
h1,a,p{
  color:inherit;
}
.hold h1{
  font-size:3em;
  font-weight:300;
  max-width: 275px;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-indicators li{
  border:0;
  background-color:#dedede;
  transition: all 1s ease-in-out;
  width:9px;
  height:9px;
  margin:1px 10px;
}
.carousel-indicators .active{
  width:15px;
  height:15px;
  margin:1px 15px;
}
#indicate{
  bottom:90px;
  display: inline-flex;
  width:150px;
  float: right;
  right: 25px !important;
  left: inherit;
}
.download{ 
  flex-direction:column;
  justify-content:center;
  width:15%;
  height:15%;
  min-width:120px;
  min-height: 120px;
  cursor:pointer;
  padding:7.5px 10px;
  border:1px solid #eee;
}
.download span{
  font-size:0.9em;
  text-transform: uppercase;
  margin:7.5px 0;
  text-align:center;
}
.download > .flex{
  width: 90px;
  height:90px;
  flex-direction: column;
}
.fa-android{
  font-size:2em;
}
.col-md-11{
  padding-bottom:10px;
}
.once,
.once .carousel-inner,
.once .carousel-inner .item {
   height:100vh;
   width:100%;
}
.shadow{
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  perspective:600px;
}
.item:nth-child(1) .shadow {
  background: rgba(0,155,255,0.4);
}
.item:nth-child(2) .shadow {
  background: rgba(0,155,55,0.4);
}
.item:nth-child(3) .shadow {
  background: rgba(255,0,0,0.4);
}
.item:nth-child(4) .shadow {
  background: rgba(155,0,255,0.4); 
}
.fmodal{
  background-color:#333;
  opacity:0.6;
  transition: all 1.5s ease-in;
  z-index:999;
  width:100%;
  min-height:100vh;
}
.ui{
  cursor:pointer;
  z-index:999;
}
.flex{
  display:flex;
  align-items:center;
  justify-content:center;
}
.fmodal{
  flex-flow:row wrap;
  padding:25px 0;
}
.flex *{
  text-align:center;
}
.third{
  width:96%;
}
.form{min-height:72vh;}
::-webkit-input-placeholder {
  color: #444;
}
form{
  padding:25px;
  width:90%;
  max-width:450px;
  animation: grow 0.5s ease-in-out;
}
form:focus{
  outline:none;
}
textarea{
  min-height:90px;
}
input, textarea{
  opacity:0.9;
  background-color:#fff;
  transition:all 0.3s ease-in;
  display:block;
  width:100%;
  outline:none;
  border:1px solid transparent;
  padding:12.5px 25px;
  font-size:1.05em;
  margin:25px auto;
  border-radius:5px;
  opacity:0;
  animation: show 1s 0.75s ease-out forwards;
}
input:hover,
textarea:hover,
textarea:focus{
  opacity:1;
  background-color:#eeffee;
  box-shadow: 0 0 1px 1px rbga(0,255,0,0.3);
  width:100%;
}
input[type=submit]:hover{
  opacity:1;
}
input[type=submit]{
  width:100%;
  background-color:#000;
  color:#fff;
  font-weight:400;
  cursor:pointer;
  text-align:center;
  margin:15px auto;
  padding:12.5px 0;
  border-radius:25px !important;
  font-size:1.25em;
  outline:none;
  border:none;
  -webkit-appearance: none;
  transition:background-color 0.3s ease-in-out;
}
.funga,
.select {
  position: relative;
  display: block;
  width:100%;
  margin:0 auto;
  opacity:0;
  user-select: none;
  animation: show 1s 0.75s ease-out forwards;
  z-index:999;
}
.funga select {
  display: none;
  padding:15px;
}
.gun {
  position: relative;
  display: block;
  width: 100%;
  margin:0 auto;
  padding: 0 25px 0 15px;
  height:50px;
  font-size: 1.2em;
  font-weight: normal;
  color: #fff;
  line-height: 50px;
  background-color: #000;
  border-radius: 6px;
  cursor: pointer;
}
.gun:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}
.select.opened .gun:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.options {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  padding:10px 0;
}
.select.opened .options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
  z-index: 2;
}
.options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 10px; height: 10px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #fff;
}
.option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  color: #111;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.option:hover,
.option.selection {
  background: #eeffee;
}
.fluid{
  width:100%;
  flex-direction:column;
}
.show{
  height:100vh;
  position:relative;
  background-color:#111;
}
.show .overlay{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index:499;
  cursor:pointer;
}
.cast{
  background:rgba(0,0,0,.45);
}
.show .play{
  color:#eee;
}
.menu a{
  margin-top: 25px; 
  text-transform: capitalize;
}
.menu{
  height:0;
  overflow:hidden;
}
.menu span{
  flex-direction:column;
}
.menu.abrir{
  position:fixed;
  height:100vh;
  width:100%;
  top:0;
  left:0;
  z-index:999;
  background-color:#774403;
}
.abrir span{
  transform-origin: center;
   animation: pulse 1.5s ease-in;
 }
 .form-widget{
   width:100%;
   min-height:400px;
   max-width: 450px;
   margin:5px auto;
   padding:0;
   position: relative;
 }
 #notification{
   position:absolute;
   width:100%;
   text-align:center;
   top:0;
   left:25px;
   margin-right:25px;
   opacity:0;
   transition: opacity 1s ease-in;
   color:inherit;
   z-index:9999;
   padding:12.5px;
 }
 #notification.showing{
   opacity:1;
   background-color:#fafafa;
   border:none;
 }
 .alert {
   margin-bottom: 0;
 }
 .alert span{
   color: #111;
 }
 .note-success .fa{
   color: #4F8A10;
  }
 .note-error .fa{
     color: #D8000C;
 }
*[class$='-center']{
  max-width: 1128px;
  margin: 0 auto;
  position:relative;
  width:100%;
}
.header-center{
  padding:25px;
  font-size:26px;
}
