/* Break points  */
@media screen and (max-width: 567px){
  video{
    transform: translate(-64%, -50%);
  }
  .ups, .downs {
    display: block;
    max-width: 250px;
  }
  h1{
   font-size:2.25em !important;
  }
}
@media screen and (min-width:768px){
 .third{
   width:48%;
 }
  .slick-dots{
    bottom:90px;
  }
  body{
    font-size:18px;
  }
  .hold h1{
    font-size: 2.5em;
  }
  header{
    padding-top: 10px;
  }
  .menu.abrir{
    font-size: 1.5em;
  }
  #indicate{
    bottom:90px;
  }
}
@media screen and (min-width:992px) {
  .third{
    width:31%;
  }
}
@media screen and (min-width: 1024px){
  #indicate{
    right: calc(100%/2 - 1024px/2) !important;
  }
}
