.ui-case .contain{
  flex-flow:row wrap;
  max-width:1024px;
  margin:0 auto;
  padding:40px 0;
}
.ui-case {
  background-size:contain;
  background-repeat:no-repeat;
}
.swipe{
  border-bottom-right-radius:50%;
  border-bottom-left-radius:50%;
  position:absolute;
  z-index:999;
  width:250px;
  top:480px;
  opacity:0;
}
.trio{
  width:33.3%
}
.fa-pause{
  animation:fade 1.25s ease-in forwards;
}
h3{
  font-size: 21px;
  font-weight: 700;
}
img.mockup{
  width:96%;
  margin:15px auto;
}
